
@{
    ViewBag.Title = "User - Admin ShopMax";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Danh sách tài khoản khách hàng</h4>
                    <span>Lọc theo: <button class="btn-default">Admin</button><button class="btn-success" style="margin-left:10px">Khách hàng</button></span>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="white-box">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên</th>
                                        <th>Tên đăng nhập</th>
                                        <th>Email</th>
                                        <th>Trạng thái</th>
                                        <th>Hành động</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Deshmukh</td>
                                        <td>Prohaska</td>
                                        <td>Genelia</td>
                                        <td>admin</td>
                                        <td>
                                            <span><button class="btn-danger">Khóa tài khoản</button></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Deshmukh</td>
                                        <td>Gaylord</td>
                                        <td>Ritesh</td>
                                        <td>member</td>
                                        <td>
                                            <span><button class="btn-danger">Khóa tài khoản</button></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Sanghani</td>
                                        <td>Gusikowski</td>
                                        <td>Govinda</td>
                                        <td>developer</td>
                                        <td>
                                            <span><button class="btn-danger">Khóa tài khoản</button></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Roshan</td>
                                        <td>Rogahn</td>
                                        <td>Hritik</td>
                                        <td>supporter</td>
                                        <td>
                                            <span><button class="btn-danger">Khóa tài khoản</button></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Joshi</td>
                                        <td>Hickle</td>
                                        <td>Maruti</td>
                                        <td>member</td>
                                        <td>
                                            <span><button class="btn-danger">Khóa tài khoản</button></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>Nigam</td>
                                        <td>Eichmann</td>
                                        <td>Sonu</td>
                                        <td>supporter</td>
                                        <td>
                                            <span><button class="btn-danger">Khóa tài khoản</button></span>
                                        </td>   
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        
    </div>

