
@{
    ViewBag.Title = "Order - Admin ShopMax";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Danh sách đơn hàng </h4>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="white-box">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên khách hàng</th>
                                        <th>Ngày đặt</th>
                                        <th>Tổng tiền</th>
                                        <th>Trạng thái</th>
                                        <th>Hành động</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Nguyễn Anh Nhật</td>
                                        <td>15/10/2019</td>
                                        <td>1.500.000 VND</td>
                                        <td>Đã giao</td>
                                        <td>
                                            <span><button class="btn-warning">Chỉnh sửa đơn hàng</button></span>
                                            <span><button class="btn-danger">Xóa đơn hàng</button></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Nguyễn Anh Nhật</td>
                                        <td>15/10/2019</td>
                                        <td>1.500.000 VND</td>
                                        <td>Đã giao</td>
                                        <td>
                                            <span><button class="btn-warning">Chỉnh sửa đơn hàng</button></span>
                                            <span><button class="btn-danger">Xóa đơn hàng</button></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Nguyễn Anh Nhật</td>
                                        <td>15/10/2019</td>
                                        <td>1.500.000 VND</td>
                                        <td>Đã giao</td>
                                        <td>
                                            <span><button class="btn-warning">Chỉnh sửa đơn hàng</button></span>
                                            <span><button class="btn-danger">Xóa đơn hàng</button></span>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
