
@{
    ViewBag.Title = "Đăng nhập - ShopMax";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model OnlineShop.Models.RegisterModel

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css     />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="~/Assets/css/Controller/AccountCSS/account.css" rel="stylesheet" />

<section class="login-block">
    <div class="container">
        <div class="row">
            <div class="col-md-4 login-sec">
                <h2 class="text-center">Đăng nhập ngay bây giờ</h2>
                @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                {
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tên đăng nhập</label>
                        @Html.TextBoxFor(model => model.Username, new { @type = "text", @class = "form-control", @id = "username1", @required = "required", @autocomplete = "off" })

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Mật khẩu</label>
                        @Html.PasswordFor(model => model.Password, new { @type = "password", @class = "form-control", @id = "password1", @required = "required" })
                    </div>
                    <div style="align-self: center">
                        @Html.ValidationSummary(true, "", new { @style = "color: red" })
                    </div>
                    <div>
                        <button type="submit" class="btn btn-login float-right">ĐĂNG NHẬP</button>
                    </div>
                }
                <div>
                    <span>Bạn chưa là thành viên?</span>
                    <a href="/Account/_SignUp" class="blue-text ml-1">
                        Đăng kí
                    </a>
                </div>
                <div style="margin-top:50px"><a class="" href="#" >Quên mật khẩu?</a></div>
            </div>
            <div class="col-md-8 banner-sec">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg" alt="First slide">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="banner-text">
                                    <h2>The ShopMax Viet Nam</h2>
                                    <p>The ShopMax là thương hiệu thời trang quốc tế ra đời tại Anh Quốc. Khác với những thương hiệu thông thường, THE COSMO tập trung phát triển những mẫu trang phục có thiết kế cơ bản và thiết yếu trong cuộc sống, để từ đó khách hàng có thể tự do kết hợp và tạo ra phong cách của riêng mình.</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
</section>


