
@{
    ViewBag.Title = "Áo sơ mi jacob shirt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="site-section">
    <div class="container">
        <div class="row col-md-12">
            <div class="col-md-8 mb-5 oder-1">
                <div class="row mb-5">
                    <div class="col-lg-6 col-md-6 item-entry">
                        <a href="#" class="product-item md-height bg-gray d-block">
                            <img src="~/Assets/images/prod_2.png" alt="Image" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 item-entry">
                        <a href="#" class="product-item md-height bg-gray d-block">
                            <img src="~/Assets/images/prod_2.png" alt="Image" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 item-entry">
                        <a href="#" class="product-item md-height bg-gray d-block">
                            <img src="~/Assets/images/prod_2.png" alt="Image" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 item-entry">
                        <a href="#" class="product-item md-height bg-gray d-block">
                            <img src="~/Assets/images/prod_2.png" alt="Image" class="img-fluid">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2 class="text-black">Gray Shoe</h2>
                <p class="text-justify" style="font-size:14px;">Đối với khí hậu nhiệt đới ở Việt Nam, những chiếc áo sơ mi làm từ chất liệu vải thiên như cotton luôn là lựa chọn hoàn hảo cho các chàng trai. Vì những mẫu áo như Jacob Shirt này thì bên cạnh vẻ lịch lãm, nam tính thường thấy, còn đảm bảo sự thấm hút mồ hôi liên tục, lại không hề gây khó chịu cho làn da của phái mạnh.
<br>Áo có thiết kế cổ trụ, tay dài, phom suông, chất vải 100% cotton mỏng nhẹ và siêu thoáng mát. Nếu đã quá quen thuộc với sự kết hợp của "bộ đôi hoàn hảo" sơ mi - quần tây lịch lãm hay sơ mi - jeans dài phóng khoáng, sao bạn không thử kết hợp cùng quần chinos xắn gấu và sơ vin áo theo phong cách vạt high-low cho phong cách thời trang mới mẻ và trẻ trung hơn?
<br>Người mẫu mặc size L, ngực 98cm, eo 78cm, mông 88cm</p>
                <p class="d-flex justify-content-center"><strong class="text-primary h4">250.000 VNĐ</strong></p>
                <div class="mb-1 d-flex justify-content-center">
                    <label for="option-sm" class="d-flex mr-3 mb-3">
                        <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-sm" name="shop-sizes"></span> <span class="d-inline-block text-black">S</span>
                    </label>
                    <label for="option-md" class="d-flex mr-3 mb-3">
                        <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-md" name="shop-sizes"></span> <span class="d-inline-block text-black">M</span>
                    </label>
                    <label for="option-lg" class="d-flex mr-3 mb-3">
                        <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-lg" name="shop-sizes"></span> <span class="d-inline-block text-black">L</span>
                    </label>
                    
                </div>
                <div class="mb-5 d-flex justify-content-around">
                    <div class="input-group mb-3" style="max-width: 120px;">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                        </div>
                        <input type="text" class="form-control text-center" value="1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                        </div>
                    </div>
                </div>
                <p><a href="cart.html" class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary d-flex justify-content-around">Thêm vào giỏ</a></p>
            </div>
        </div>
    </div>
</div>
<div class="site-section block-3 site-blocks-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 site-section-heading text-center pt-4">
                <h2>Featured Products</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 block-3">
                <div class="nonloop-block-3 owl-carousel">
                    <div class="item">
                        <div class="item-entry">
                            <a href="#" class="product-item md-height bg-gray d-block">
                                <img src="images/model_1.png" alt="Image" class="img-fluid">
                            </a>
                            <h2 class="item-title"><a href="#">Smooth Cloth</a></h2>
                            <strong class="item-price"><del>$46.00</del> $28.00</strong>
                            <div class="star-rating">
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-entry">
                            <a href="#" class="product-item md-height bg-gray d-block">
                                <img src="images/prod_3.png" alt="Image" class="img-fluid">
                            </a>
                            <h2 class="item-title"><a href="#">Blue Shoe High Heels</a></h2>
                            <strong class="item-price"><del>$46.00</del> $28.00</strong>
                            <div class="star-rating">
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-entry">
                            <a href="#" class="product-item md-height bg-gray d-block">
                                <img src="images/model_5.png" alt="Image" class="img-fluid">
                            </a>
                            <h2 class="item-title"><a href="#">Denim Jacket</a></h2>
                            <strong class="item-price"><del>$46.00</del> $28.00</strong>
                            <div class="star-rating">
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-entry">
                            <a href="#" class="product-item md-height bg-gray d-block">
                                <img src="images/prod_1.png" alt="Image" class="img-fluid">
                            </a>
                            <h2 class="item-title"><a href="#">Leather Green Bag</a></h2>
                            <strong class="item-price"><del>$46.00</del> $28.00</strong>
                            <div class="star-rating">
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-entry">
                            <a href="#" class="product-item md-height bg-gray d-block">
                                <img src="images/model_7.png" alt="Image" class="img-fluid">
                            </a>
                            <h2 class="item-title"><a href="#">Yellow Jacket</a></h2>
                            <strong class="item-price">$58.00</strong>
                            <div class="star-rating">
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

